# Environnement virtuel (Trés important pour votre dossier .venv)
.venv/
venv/
.env # Clés d'API et mots de passe secrets
env/
ENV/

# Django
backend/db.sqlite3
__pycache__/
*.py[cod]
*$py.class
local_settings.py

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# NGrok configuration avec tokens (SENSIBLE - ne pas commiter)
ngrok_front.yml
ngrok_back.yml
.vscode/
.idea/

# Frontend
node_modules/
.env__pycache__/
*.pyc
