# Environnement virtuel (Trés important pour votre dossier .venv)
.venv/
venv/
ENV/
env/

# Django
db.sqlite3
__pycache__/
*.py[cod]
*$py.class
local_settings.py

# Fichiers de log et temporaires
*.log
.tmp/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Frontend
node_modules/
.env